<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elias Haugsbakk</title>
    <link rel="icon" type="image/png" href="/images/elias_haugsbakk.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <main class="main-container">
        <h1>Elias Haugsbakk's Webpage</h1>
        
        <div class="content-grid">
            <div class="left-column">
                <img src="/static/assets/images/system/elias_haugsbakk.png" alt="Image of Elias Haugsbakk" class="profile-img">
                <p>Hello! I am Elias and this is my webpage.</p>
            </div>

            <div class="right-column">
                <ul>
                    <li><a href="/blog">Blog</a> <span class="description">-- personal projects and thoughts</span></li>
                    <li><a href="https://github.com/eliashaugsbakk">GitHub</a> <span class="description">-- home for my code</span></li>
                    <li><a href="/portfolio">Portfolio</a> <span class="description">-- professional and unprofessional experience</span></li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <p>
            <span class="footer-left"><a href="/">eliashaugsbakk.xyz</a></span>
            <span class="footer-separator">|</span>
            <span class="footer-right"><a href="mailto:elias.haugsbakk@gmail.com">elias.haugsbakk@gmail.com</a></span>
        </p>
    </footer>

</body>
</html>
