{% extends "templates/layout.html" %}

{% block content %}
<main class="main-container">
    <h1>Elias Haugsbakk sin Nettside</h1>

    <div class="content-grid">
        <div class="left-column">
            <img src="/images/elias_haugsbakk.jpeg" alt="Image of Elias Haugsbakk" class="profile-img">
            <p>Hei! Jeg heter Elias og dette er nettsiden min hvor du finner prosjekter, kode og en blog.</p>
            <p>Nå studerer jeg for å bli Dataingeniør ved NTNU i Trondheim.</p>
        </div>

        <div class="right-column">
            <ul>
                <li><a href="/projects">Prosjekter</a> <span class="description"></span></li>
                <li><a href="/posts">Blog</a> <span class="description"></span></li>
                <li><a href="https://github.com/eliashaugsbakk">GitHub</a> <span class="description"></span></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
