{% extends "templates/layout.html" %}

{% block content %}
<main class="main-container">
    <h1>Elias Haugsbakk's Webpage</h1>

    <div class="content-grid">
        <div class="left-column">
            <img src="/images/elias_haugsbakk.jpeg" alt="Image of Elias Haugsbakk" class="profile-img">
            <p>Hello! I am Elias. This is my personal website for projects, writings, and code.</p>
            <p>I'm currently studying Computer Science at NTNU, Trondheim.</p>
        </div>

        <div class="right-column">
            <ul>
                <li><a href="/projects">Projects</a> <span class="description"></span></li>
                <li><a href="/posts">Blog</a> <span class="description"></span></li>
                <li><a href="https://github.com/eliashaugsbakk">GitHub</a> <span class="description"></span></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
