<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/{{ page_css }}.css">

    <!-- Google Fonts link for Spectral (Regular 400 and Italic) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
</head>
<body>

{% block content %}{% endblock %}

<footer>
    <p>
        <span class="footer-left"><a href="/">eliashaugsbakk.xyz</a></span>
        <span class="footer-separator">|</span>
        <span class="footer-right"><a href="mailto:elias.haugsbakk@gmail.com">elias.haugsbakk@gmail.com</a></span>
    </p>
</footer>

</body>
</html>
