<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Elias Haugsbakk</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>

<main class="main-container">
    <header class="post-header">
        <span class="post-date">{{ published_date }}</span>
        <span class="post-author">{{ author }}</span>
    </header>

    <h1>{{ title }}</h1>

    <article class="post-content">
        {{ content | raw }}
    </article>

    <nav class="post-nav">
        {{ previous_post_link | raw }}
        {{ next_post_link | raw }}
    </nav>
</main>

<footer>
    <p>
        <span class="footer-left"><a href="/">eliashaugsbakk.xyz</a></span>
        <span class="footer-separator">|</span>
        <span class="footer-right"><a href="mailto:elias.haugsbakk@gmail.com">elias.haugsbakk@gmail.com</a></span>
    </p>
</footer>

</body>
</html>
